# Ignore Maven build files
target/maven-archiver/
target/classes/
target/generated-sources/
target/test-classes/

# Ignore local artifacts
target/

# Ignore version control
.git
.gitignore

# Ignore logs
logs/
*.log
